body { margin:0px; padding:0px; font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif"; font-size: 12px; background-color:#EAEAEA;}

.aos_ctr, .aos_mask{width:100%; height:100%; overflow:hidden;}
.aos_ctr{position:relative}
.aos_desk{position:absolute; display:block; background-position:center center}

.defBg{background-image:url(../image/mac2.jpg); background-repeat:repeat; }.iconCtr{position:absolute; left:100px; bottom:25px; width:950px; height:64px; display:block;}
.iconCtr{position:absolute; left:100px; bottom:30px; display:block;}
.aos_dock_item{float:left; height:100px; padding:5px; /*margin-left:20px;*/} 

body{margin:0}                                                                    
ul,li{list-style: none; padding:0px; margin:0px;}
.dotlist{position:absolute; display:block; top:0px;}
.dotlist li{float:left; margin-left:10px; width:20px; height:20px; opacity:0.4;}
.dot20{width:20px; height:20px; background-image:url(../image/dot20.png);}

.aos_dock_ctr img{width:40px; height:40px}

#DockBg{position;absolute; bottom:0px; background:url(../image/iconsBg.png) no-repeat center top; opacity:0.6}

#icongroup{width:auto; height:auto;  bottom:0px; text-align:center; position:fixed; cursor:pointer; padding:10px 20px;}


