body {
	font: 12px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color:#000;
}
ul,li{list-style-type:none}

img {
	border: none;
}
.aos_top{
	position:absolute;
	background-color:#111;
	opacity: 0.4;
	top:0px;
	border-bottom:1px solid #666;
	
	/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#000000', EndColorStr='#000000');*/
	width:100%;
	height:25px;
	color:#FFF;
	line-height:25px;
}
.aos_top li{float:left; margin:0 5px;}
.title_left{float:left; padding:0 10px;}
.title_right{float:right; padding:0 10px;}

.reflected{
	width:70px;	
}
.helper{opacity:0.5}

.bottomIcon{position:fixed; right:0px; bottom:0px; width:100%; height:30px;}

#workIcon{float:right; padding:0 10px}
	#workIcon li{float:left; margin-right:5px}
	#workIcon img {width:30px; height:30px;}
.staticIcon{opacity:0.6}
.activeIcon{opacity:1}
	
.iconDesk{
	position:absolute; z-index:1000; left:40px; top:40px; 
}
.iconDesk li {width:60px; height:80px; float:left; margin:10px}
	.iconDesk img{width:60px; height:60px; position:absolute;}
	.iconDesk .title{ position:absolute; bottom:10px; width:60px; text-align:center; color:#CCC;}
	.iconDesk .iconHover{ position:absolute; width:60px; height:80px; border:1px solid #FFF; background-color:#EAEAEA; opacity:0.3; display:none}

 .ui-state-highlight { width:100px; border:1px dotted #FFF }

.aos_iconBar{
	position: absolute;	
	bottom: -5px;
	width: 100%;
}

.iconList{width:70px; height:120px; /*background-color:#CC3*/}
	.iconList .title{display:none; font-weight:bold}
.aos_dock {
	width: 100%;
	bottom: 0px;
	position: fixed;
	left: 0px;
	
}

.aos_dock_ctr {
	position: absolute;
	bottom : 0px;
	opacity : 0.8;
	width : 100%;
	height:60px;
	background:url(../image/iconsBg.png) no-repeat center bottom ;
}
.aos_dock_item {
	display: block; 
	font: bold 14px Arial, Helvetica, sans-serif;
	/*
	width: 40px; 
	color: #000; 
	bottom: 0px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	*/
	float:left;
	width:70px;
	text-align: center;
}
.aos_dock_item span {
	display: none;
}
.aos_dock_item img {
	border: none; 
	/*margin: 5px 10px 0px; */
	width: 70px; 
}
.saos_dock_item img {
	border: none; 
	/*margin: 5px 10px 0px; */
	width: 90%; 
}

.arrowLeft{position:absolute; left:0px; top:100px; background:url(../image/arrowLeft.png) no-repeat; width:45px; height:90px; opacity:0.5; display:none}
.arrowRight{position:absolute; right:0px; top:100px; background:url(../image/arrowRight.png) no-repeat; width:45px; height:90px; opacity:0.8; display:none}

.aos_ctr, .aos_mask{width:100%; height:100%; overflow:hidden;}
.aos_ctr{position:relative}
.aos_desk{position:absolute; display:block; background-position:center center; }

.defBg{background-image:url(../image/mac2.jpg); background-repeat:repeat; }.iconCtr{position:absolute; left:100px; bottom:25px; width:950px; height:64px; display:block;}

ul,li{list-style: none; padding:0px; margin:0px;}
.dotlist{position:fixed; display:block; bottom:120px;}
.dotlist li{float:left; margin-right:10px; width:20px; height:20px; opacity:0.4;}
.dot20{width:20px; height:20px; background-image:url(../image/dot20.png);}

#icongroup{width:auto; height:auto;  bottom:0px; text-align:center; position:fixed; cursor:pointer; }
.aos_trash{position:absolute; left:15px; bottom:40px;background:url('../image/trash.png') no-repeat center center;width:120px; height:120px;}

#aos_manager{position:absolute; right:15px; bottom:40px;background:url('../image/manager.png') no-repeat center center;width:120px; height:120px;}

#raphaelTimer{
	margin: 0 auto;
	width:600px;
	height:600px;
}
#currTimer {
	margin: 0 auto;
	padding-top:50px;
	text-align: center;
	font: 100 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color : #CCC;
}
#showWin {
	display: none;
}
.aos_addApps img{
	background-color: red;
	width: 60px;
	height: 60px;
}
.aos_addApps .aos_addAppTag{
	background-color: blue;
	position: center 20px;
	float: right
}

