<div>

	<ul class="aos_addApps">
		<li>
			<img style="width:60px; height:60px;" src="image/Msn Messenger.png"></img>
			<div class="title">MSN</div>
			<div class="aos_addAppTag">
				<img src="image/addApp.png"></img>
			</div>
		</li>
		<li>
			<img style="width:60px; height:60px;" src="image/Adobe v2.PNG"></img>
			<div class="title">Adobe</div>
		</li>
		<li>
			<img style="width:60px; height:60px;" src="image/Adobe v2.PNG"></img>
			<div class="title">Adobe</div>
		</li>
		<li>
			<img style="width:60px; height:60px;" src="image/Adobe v2.PNG"></img>
			<div class="title">Adobe</div>
		</li>
	</ul>
</div>

