<div class="aos_app_maket">
	<div class="aos_app_listBox">
		<div class="aos_app_lists">
			<div class="aos_app_item">
				<a><img width='60px' height='60px' src="image/clock.png" /></a>
				<span>Clock</span>
				<span class="aos_app_addMinus" style="float:right; position:center;"><img src="image/addApp.png" /></span>
			</div>

			<div class="aos_app_item">
				<a><img width='60px' height='60px' src="image/ps.png" /></a>
				<span>PS</span>
				<span class="aos_app_addMinus" style="float:right;"><img src="image/addApp.png" /></span>
			</div>

			<div class="aos_app_item">
				<a><img width='60px' height='60px' src="image/gadu.png" /></a>
				<span>Gadu</span>
				<span class="aos_app_addMinus" style="float:right;"><img src="image/addApp.png" /></span>
			</div>
		</div>
	</div>
</div>
<script>
	$('.aos_app_addMinus').bind('click', function(){
		AOS.webos.test($(this));                        
	});
</script>

